<<<<<<< HEAD
<div id="section-reviews" class="container px-4 py-12">
    <div class="text-center mb-6">
        <span class="text-sm font-semibold text-blue-500 uppercase mb-4">Latest service</span>
        <h2 class="text-2xl text-dark font-bold mb-4">Professional Car Repair The Best Services</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    </div>
    <div class="grid grid-cols-1 lg:grid-cols-2">

        <!-- Left content area -->
        <div class="relative bg-cover bg-center bg-no-repeat" style="background-image: url('https://media.istockphoto.com/id/1741466406/de/foto/portr%C3%A4t-eines-gl%C3%BCcklichen-mechanikers-der-in-einer-werkstatt-einen-bremssattel-und-ein.jpg?s=2048x2048&w=is&k=20&c=vcvVnQYAjG6qeSLemBdCAkAZolKZLNxEzxdRf7unWqw=')">
            <div class="absolute inset-0 bg-black bg-opacity-50"></div> <!-- Ajusta la opacidad según necesites -->
            <div class="relative space-y-6 z-10 p-4">
                <span class="text-violet-600 text-lg font-medium">Top Quality!</span>
                <h1 class="text-4xl font-semibold my-10 text-white">Our customers love what we do</h1>
                <p class="text-white text-base leading-relaxed">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <div class="mt-16">
                    <button class="text-white border-2 border-violet-600 rounded text-base font-medium transition-all duration-300 hover:bg-violet-600 hover:text-white px-10 py-3">Contact us</button>
                </div>
            </div>
        </div>
        
        

        

    <div class="grid border-gray-200 rounded-lg shadow-sm dark:border-gray-700 md:grid-cols-2 bg-white dark:bg-gray-800 my-auto">
    <figure class="flex flex-col items-center justify-center p-8 text-center bg-white border-b border-gray-200 rounded-t-lg md:rounded-t-none md:rounded-ss-lg md:border-e dark:bg-gray-800 dark:border-gray-700">
        <blockquote class="max-w-2xl mx-auto mb-4 text-gray-500 lg:mb-8 dark:text-gray-400">
            <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Very easy this was to integrate</h3>
            <p class="my-4">If you care for your time, I hands down would go with this."</p>
        </blockquote>
        <figcaption class="flex items-center justify-center ">
            <img class="rounded-full w-9 h-9" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/karen-nelson.png" alt="profile picture">
            <div class="space-y-0.5 font-medium dark:text-white text-left rtl:text-right ms-3">
                <div>Bonnie Green</div>
                <div class="text-sm text-gray-500 dark:text-gray-400 ">Developer at Open AI</div>
            </div>
        </figcaption>    
    </figure>
    <figure class="flex flex-col items-center justify-center p-8 text-center bg-white border-b border-gray-200 md:rounded-se-lg dark:bg-gray-800 dark:border-gray-700">
        <blockquote class="max-w-2xl mx-auto mb-4 text-gray-500 lg:mb-8 dark:text-gray-400">
            <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Solid foundation for any project</h3>
            <p class="my-4">Designing with Figma components that can be easily translated to the utility classes of Tailwind CSS is a huge timesaver!"</p>
        </blockquote>
        <figcaption class="flex items-center justify-center ">
            <img class="rounded-full w-9 h-9" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/roberta-casas.png" alt="profile picture">
            <div class="space-y-0.5 font-medium dark:text-white text-left rtl:text-right ms-3">
                <div>Roberta Casas</div>
                <div class="text-sm text-gray-500 dark:text-gray-400">Lead designer at Dropbox</div>
            </div>
        </figcaption>    
    </figure>
    <figure class="flex flex-col items-center justify-center p-8 text-center bg-white border-b border-gray-200 md:rounded-es-lg md:border-b-0 md:border-e dark:bg-gray-800 dark:border-gray-700">
        <blockquote class="max-w-2xl mx-auto mb-4 text-gray-500 lg:mb-8 dark:text-gray-400">
            <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Mindblowing workflow</h3>
            <p class="my-4">Aesthetically, the well designed components are beautiful and will undoubtedly level up your next application."</p>
        </blockquote>
        <figcaption class="flex items-center justify-center ">
            <img class="rounded-full w-9 h-9" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/jese-leos.png" alt="profile picture">
            <div class="space-y-0.5 font-medium dark:text-white text-left rtl:text-right ms-3">
                <div>Jese Leos</div>
                <div class="text-sm text-gray-500 dark:text-gray-400">Software Engineer at Facebook</div>
            </div>
        </figcaption>    
    </figure>
    <figure class="flex flex-col items-center justify-center p-8 text-center bg-white border-gray-200 rounded-b-lg md:rounded-se-lg dark:bg-gray-800 dark:border-gray-700">
        <blockquote class="max-w-2xl mx-auto mb-4 text-gray-500 lg:mb-8 dark:text-gray-400">
            <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Efficient Collaborating</h3>
            <p class="my-4">You have many examples that can be used to create a fast prototype for your team."</p>
        </blockquote>
        <figcaption class="flex items-center justify-center ">
            <img class="rounded-full w-9 h-9" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/joseph-mcfall.png" alt="profile picture">
            <div class="space-y-0.5 font-medium dark:text-white text-left rtl:text-right ms-3">
                <div>Joseph McFall</div>
                <div class="text-sm text-gray-500 dark:text-gray-400">CTO at Google</div>
            </div>
        </figcaption>    
    </figure>
    </div>


    </div>
</div>
=======
---
import Section from "../gui/Section.astro";
import TitleSection from "../gui/TitleSection.astro";

const reviewsInfo = [
  {
    name: "Bonnie Green",
    review: "Very easy this was to integrate",
    desc: "If you care for your time, I hands down would go with this.",
    ocupation: "Developer at Open AI",
    image:
      "https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/karen-nelson.png",
  },
  {
    name: "Roberta Casas",
    review: "Solid foundation for any project",
    desc: "Designing with Figma components that can be easily translated to the utility classes of Tailwind CSS is a huge timesaver!",
    ocupation: "Lead designer at Dropbox",
    image:
      "https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/roberta-casas.png",
  },
  {
    name: "Jese Leos",
    review: "Mindblowing workflow",
    desc: "Aesthetically, the well designed components are beautiful and will undoubtedly level up your next application.",
    ocupation: "Software Engineer at Facebook",
    image:
      "https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/jese-leos.png",
  },
  {
    name: "Joseph McFall",
    review: "Efficient Collaborating",
    desc: "You have many examples that can be used to create a fast prototype for your team.",
    ocupation: "CTO at Google",
    image:
      "https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/joseph-mcfall.png",
  },
];
---

<Section id="reviews">
  <TitleSection
    title="Reviews"
    subtitle="Professional Car Repair The Best Services"
  />
    <div
      class="grid gap-6 md:gap-12 md:grid-cols-2"
    >
      {
        reviewsInfo.map((item) => {
          const { name, review, desc, image, ocupation } = item;
          return (
            <figure class="flex flex-col items-center justify-center p-8 text-center  bg-secondaryGradient rounded-t-lg md:rounded-t-none md:rounded-ss-lg dark:bg-gray-800 ">
              <blockquote class="max-w-2xl mx-auto mb-4 text-gray-500 lg:mb-8 dark:text-gray-400">
                <h3 class="text-lg font-semibold text-gray-900 dark:text-whDeveloper at Open AIite">
                  {review}
                </h3>
                <p class="my-4">{desc}</p>
              </blockquote>
              <figcaption class="flex items-center justify-center">
                <img
                  class="rounded-full w-9 h-9"
                  src={image}
                  alt="profile picture"
                />
                <div class="space-y-0.5 font-medium dark:text-white text-left rtl:text-right ms-3">
                  <div>{name}</div>
                  <div class="text-sm text-gray-500 dark:text-gray-400">
                    {ocupation}
                  </div>
                </div>
              </figcaption>
            </figure>
          );
        })
      }
  </div>
</Section>
>>>>>>> version2
